<app-encabezado></app-encabezado>

<div class='container mt-5'>
    <h4>Listado de pacientes</h4>

    <form action="">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Buscar un paciente" >
        </div>
    </form>

    <div class='row'>
        <div class="col-sm-3" *ngFor="let paciente of pacientes">
            <div class="card">
               <img class="card-img-top imgPaciente" src="assets/paciente.png" alt="">
                <div class="card-body">
                  <p>{{paciente.id}}</p>
                  <h5 class="card-title">{{paciente.nombre}} {{paciente.apellido}}</h5>
                  <a [routerLink]="['/agregar-paciente/', paciente.id]" class="card-link">Editar</a>
                  <a *ngIf="paciente.enabled" (click)="desactivar(paciente.id)" class="card-link text-danger" style="cursor: pointer">Desactivar</a>
                  <a *ngIf="!paciente.enabled"(click)="activar(paciente.id)" class="card-link text-danger" style="cursor: pointer">Activar</a>
                </div>
              </div>
        </div>
    </div>
</div>
